spring:
  application:
    name: assignment
  profiles:
    active: dev

jwt:
  secret-key: 3Y+uo1AVMYeAFF+DK4fI6i3r4vlOz2FyZZ4BD9iTDjo=
  access-expiration-time: 900000 # 15분
  refresh-expiration-time: 604800000 # 7일
---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:13306/kbhc?useSSL=false&serverTimezone=UTC
    username: kbhc
    password: kbhc123qwe!
  jpa:
    hibernate:
      ddl-auto: update # 개발 환경에선 update, 운영에선 none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  data:
    redis:
      host: 127.0.0.1
      port: 16379
  kafka:
    bootstrap-servers: 127.0.0.1:29092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest

